/* ======================================= */
/* Footer */
/* ======================================= */
footer{
	background: #e6e6e6;
	color: #959595;
	padding: 25px 0;
	font-size: 14px;
}

footer p span{
	display:inline-block;
	padding:0 16px;	
}