/* ======================================= */
/* Scss Stylesheet imports */
/* ======================================= */
/* Libs */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Utility */
/*----------------COLOR------------------*/
/* CLEARFIX */
nav:after, #nav:after, #content .article:after, #content:after {
  display: block;
  content: ' ';
  clear: both;
}

/*-----12 col grid------*/
/*Breakpoints -------------------*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/*html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
                                                 /*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================================= */
/* Default styling */
/* ======================================= */
body {
  font: inherit;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: #ffffff;
  background: url("../images/church.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Dark Filter effect */
}
body:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h1 {
  font-size: 2.7em;
  /*18x4*/
}

h2 {
  font-size: 2.1em;
  /*18x3*/
}

h3 {
  font-size: 1.8em;
  /*18x2 - 6*/
}

p,
ul,
dl {
  font-size: 1.4em;
  line-height: 1.5;
}

a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #6987A1;
  outline: none;
  -webkit-appearance: none;
  /*overrides safari mobile default styling*/
}

a:visited {
  outline: none;
}

a:hover,
input[type=submit]:hover {
  opacity: .5;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  border: none;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  height: 45px;
  display: inline-block;
  padding: 9px 21px;
  font-size: 1.4em;
  font-weight: 100;
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  font-weight: 100;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  font-weight: 100;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  font-weight: 100;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
  font-weight: 100;
}

/* ======================================= */
/* layout */
/* Reference Bourbon Neat for layout grid */
/* http://neat.bourbon.io/examples/ */
/* ======================================= */
.page .page-inner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  height: 800px;
  height: 100vh;
}
.page .page-inner:last-child {
  margin-right: 0;
}

/* Elements */
/* ======================================= */
/* Form default styling */
/* ======================================= */
form {
  height: 100vh;
  margin: 0 auto;
}
form input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  border-radius: 5px;
  height: 45px;
  display: inline-block;
}
form input:last-child {
  margin-right: 0;
}
form input[type='submit'] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
form input[type='submit']:last-child {
  margin-right: 0;
}

/* Partials */
/* ======================================= */
/* General/Container */
/* ======================================= */
header {
  overflow: hidden;
  padding: 18px 2%;
}
header h1 {
  font-weight: 100;
  color: #6987A1;
  display: inline-block;
}
header nav {
  float: right;
}
header nav ul li {
  display: inline-block;
  margin-left: 18px;
}

.sign-up input {
  display: inline-block;
  font-size: 1em;
}

/* ======================================= */
/* Footer */
/* ======================================= */
/* Pages */
/* ======================================= */
/* Above the fold - page #1 */
/* ======================================= */
.primary-cta > span {
  font-size: 2.1em;
}

/* ======================================= */
/* Above the fold - page #1 */
/* ======================================= */
form {
  height: 100vh;
  margin: 0 auto;
}
form input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  border-radius: 5px;
  border: 1px solid #ffffff;
  height: 45px;
  display: inline-block;
}
form input:last-child {
  margin-right: 0;
}
form input[type='submit'] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
form input[type='submit']:last-child {
  margin-right: 0;
}

#response {
  padding: 72px 25%;
  background: #fff;
  color: #333;
}

/*# sourceMappingURL=main.css.map */
