$white : #ffffff;
$black : #000000;



//===========================//
// Backgrounds
//===========================//
$bg : #fff;
$bg-primary : #0f5ba8;
$bg-secondary : #eaf1f7;
$bg-tertiary : #d7e9f1;
$bg-quat : #2c2c2c;




//===========================//
// Links
//===========================//
$link: #4ab2cd;
$link-visited: #4ab2cd;
$link-hover: #4ab2cd;
$link-active: #4ab2cd;




//===========================//
// Type
//===========================//
$text-primary: #333;
$text-secondary: #3e3e3e;
$text-tertiary: #666666;



//===========================//
// Borders
//===========================//
$border: #3e3e3e;
$border-secondary : #aaaaaa;
$border-tertiary : #1372d1;


//===========================//
// Buttons
//===========================//
$button: #50b1cb;


//===========================//
// Priority
//===========================//
$low: #a7a7a6;
$normal: #69b42c;
$high: #ea2020;




//===========================//
// General
//===========================//
$go: #89b76f;
$warning: #fde40b;
$danger: #d51301;

$icon: #aaaaaa;




