/* ======================================= */
/* Utility classes */
/* ======================================= */

.truncate{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


// Calculate em letter-spacing from print spec tracking values
@mixin tracking($amt: 75){
	$tracking : $amt / 1000;
  	letter-spacing: $tracking + em !important;
}





