/* ======================================= */
/* Banner */
/* ======================================= */
#banner {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

#banner .banner {
	position: relative;
}

#banner .banner .copy {
	position: absolute;
	bottom: 40px;
	width: 100%;
}

#banner .banner .copy a {
	color:white;
}

#banner .banner .wrapper div {
	background: #4a2d18;
	background: rgba(74,45,24,0.7);
	padding: 28px;
	color: white;
	position: relative;
	bottom: 0px;
	width: auto;
	max-width: 300px;
}




/* ======================================= */
/* Services */
/* ======================================= */
.services-block{
	text-align: center;
}

.s-button{
	display: inline-block;
	position: relative;
	margin: 8px 0 8px 16px;
	opacity:1;
	transition: opacity 0.15s;
}

.s-button img{
	width: 220px;
	height: 121px;
}

.s-button:hover{
	opacity:0.7;	
}

.s-button:nth-of-type(1){
	margin-left: 0;
}

.s-button span {
	padding: 4px 12px;
	z-index: 2;
	background: #7ac83c;
	position: absolute;
	bottom: 16px;
	color: white;
	font-size: 18px;
	display: block;
	left: -7px;
	font-weight: 600;
	
}

.s-button:after {
	content: url('../images/label-corner.png');
	position: absolute;
	bottom: 41px;
	left: -7px;
}
