/*----------------COLOR------------------*/

$bg : #fff;
$bg-wrapper: #4a2d18;
$bg-article-link: #578a2f;

$link: #6987A1;
$link-visited: #396D9A;
$link-hover: #396D9A;
$link-active: #396D9A;

$primary-text: #ffffff;
$secondary-text: #e7e7e7;
$tertiary-text: #bbbbbb;
$wht-text : #fff;

$border: #dedede;

$go: #7ac83c;
$warning: #7ac83c;
$danger: #7ac83c;

