/*----------------COLOR------------------*/
//===========================//
// Backgrounds
//===========================//
$bg : #fff;
$bg-secondary : #eaf1f7;
$bg-tertiary : #d7e9f1;
$bg-quat : #8d9da8;




//===========================//
// Links
//===========================//
$link: #4ab2cd;
$link-visited: #4ab2cd;
$link-hover: #4ab2cd;
$link-active: #4ab2cd;




//===========================//
// Type
//===========================//
$text-primary: #434c53;
$text-secondary: #8c9ca8;
$text-tertiary: #aeb9c0;

$text-primary-alt: #ffffff;
$text-secondary-alt: #ffffff;
$text-tertiary-alt: #ffffff;

$h-text-primary: #50b1cb;
$h-text-secondary: #50b1cb;


//===========================//
// Borders
//===========================//
$border-primary: #8d9da8;
$border-secondary: #b9cad6;
$border-tertiary: #d8e1e5;





//===========================//
// Buttons
//===========================//
$button-cta-start: #f75231;
$button-cta-end: #df4222;
$button-cta-border: #b7371d;
$button: #50b1cb;




//===========================//
// General
//===========================//
$go: #53be97;
$warning: #7ac83c;
$danger: #c20430;

$icon : #4e5961;
$icon-secondary : #50b1cb;





