/*----------------COLOR------------------*/

$bg : #fff;
$bg-secondary : #1d252c;
$bg-wrapper: #4a2d18;
$bg-article-link: #578a2f;

$link: #6987A1;
$link-visited: #396D9A;
$link-hover: #396D9A;
$link-active: #396D9A;

$primary-text: #1d252c;
$secondary-text: #929292;
$tertiary-text: #bbbbbb;

$alt-primary-text: #ffffff;
$alt-secondary-text: #929292;
$alt-tertiary-text: #bbbbbb;

$border: #dedede;

$go: #53be97;
$warning: #7ac83c;
$danger: #c20430;

