/* ======================================= */
/* Default styling */
/* ======================================= */
body {
	font: inherit;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	color: $primary-text;
	background: url('../images/church.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;

	/* Dark Filter effect */
/*	&:after{
		content : '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background: rgba(0,0,0,.5);
	}*/
}


//border box borrowed from responsive.gs
* { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


h1,
h2,
h3,
h4{
	line-height: 1.5;
}

h1{
	font-size: 2.7em; /*18x4*/
}

h2{
	font-size: 2.1em;/*18x3*/
}

h3{
	font-size: 1.8em;/*18x2 - 6*/
}

p,
ul,
dl{
	font-size: 1.4em;
	line-height: 1.5;
}

a{
	cursor: pointer;
}

a{
	text-decoration: none;
	color: $link;
	outline: none;
	-webkit-appearance: none;/*overrides safari mobile default styling*/
}

a:visited{
	outline: none;
}

a:hover,
input[type=submit]:hover{
	opacity: .5;
}

img{
	max-width: 100%;
	height: auto;
}

input,
button,
textarea{
	border: none;
	border: 1px solid $bg;
	color: $bg;
	background: none;
	background: rgba(255,255,255,0.1);
	border-radius: 2px;
	height: 45px;
	display: inline-block;
	padding: 9px 21px;
	font-size: 1.4em;
	font-weight: 100;
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $primary-text;
    font-weight: 100;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $primary-text;
    font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $primary-text;
    font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $primary-text;
    font-weight: 100;
}






