/* ======================================= */
/* Default styling */
/* ======================================= */
body {
	font: inherit;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	color: $primary-text;
	background: url('../images/church.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


//border box borrowed from responsive.gs
* { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


h1,
h2,
h3,
h4{
	line-height: 1.5;
}

h1{
	font-size: 3.4em;
}

h2{
	font-size: 2.2em;
}

h3{
	font-size: 1.8em;
}

p,
ul,
dl{
	font-size: 1.4em;
	line-height: 1.5;
}


a{
	cursor: pointer;
	text-decoration: none;
	color: $link;
	outline: none;
	-webkit-appearance: none;/*overrides safari mobile default styling*/
}

a:visited{
	outline: none;
	color: $link-visited;
}

a:hover{
	opacity: .5;
	color: $link-hover;
}

a:active{
	color: $link-active;
}

img{
	max-width: 100%;
	height: auto;
}

input,
button,
textarea{
	border: none;
	border: 1px solid $bg;
	color: $bg;
	background: none;
	background: $button-cta;
	border-radius: 2px;
	height: 45px;
	display: inline-block;
	padding: 9px 21px;
	font-size: 1.4em;
	font-weight: 100;
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $tertiary-text;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $tertiary-text;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $tertiary-text;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $tertiary-text;
}






/* CLEARFIX */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}





.truncate{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}





