/* ======================================= */
/* General/Container */
/* ======================================= */
header{
	overflow: hidden;
	padding: 18px 2%;

	h1{
		font-weight: 100;
		color: $link;
		display: inline-block;
	}

	nav{
		float: right;

		ul{
			li{
				display: inline-block;
				margin-left: 18px;
			}
		}
	}
}

.sign-up{
	input{
		display: inline-block;
		font-size: 1em;
	}
}