/* ======================================= */
/* Header */
/* ======================================= */
header{
	position: absolute;
	left: 0;
	right: 0;
	padding: 19px;
	background: rgba(0,0,0,0.4);

}
