/* ======================================= */
/* layout */
/* ======================================= */

.page{
	background: $bg-secondary;
	min-height: 800px;
	height: 100vh;

	&:nth-of-type(even){
		background: $bg;
	}

	.wrapper{

	}
}



