/* ======================================= */
/* layout */
/* ======================================= */

.page{
	background: $bg-secondary;
	min-height: 800px;

	&:nth-of-type(even){
		background: $bg;
	}

	
}

.wrapper{
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 5%;
}

